#img1
{
height:30px;
width: 30px;
}

#img2
{
height:30px;
width: 30px;
}

#img3
{
height:30px;
width: 30px;
}

#img4
{
height:30px;
width: 30px;
}

#img5
{
height:30px;
width: 30px;
}

#img6
{
height:30px;
width: 30px;
}

#img7
{
height:30px;
width: 30px;
}